# CODEOWNERS file for WSAI CODE repository
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/frontend/ @amanape @hieptl
/wsai_code-ui/ @amanape @hieptl
/wsai_code/ @tofarr @malhotra5 @hieptl
/enterprise/ @chuckbutkus @tofarr @malhotra5
/evaluation/ @xingyaoww @neubig
